{% extends "base.html" %}

{% block title %}Welcome to Flash Card Editor {% endblock %}

{% block content %}
<h1>FLASK</h1>
<form method="POST" action="">
    Name <input type="text" name="name" />
    <br>
    Nomor Telpon <input type="text" name="telpon" />
    <br>
    <input type="submit">
</form>
<h2> Pelatihan Flash Card </h2>
<ol start="50">
    {% for card in cards %}
    <li>
        <a href="{{url_for('card_view', index=loop.index0)}}"> {{card.question}}</a>
    </li>
    {% endfor %}
</ol>
<button><a href="{{ url_for('add_card') }}">Create</a></button>

{% endblock %}